@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --font-family: "Ubuntu Mono";
  --font-family-header: "Ubuntu Mono";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}
#root {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
}
ul {
  list-style: none;
}
a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: 0 2rem;
  color: var(--color-text);
}
canvas {
    position: absolute;
    bottom: 15vh;
    left: -1vw;
    width: 101vw;
    height: 33vh;    
    outline: none;
    pointer-events: none;
    background-color: var(--color-bg);
    z-index: -1;
}
.logomation {
  cursor: pointer;
  position:fixed;
  left: 2rem;
  z-index:1;
}
nav a {
  margin: 0 2rem;
}
.animatedLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.animatedLink:hover:after {
  width: 100%;
  left: 0;
}
.activeLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
  left: 0;
}
header .nav-btn {
  width: 0px;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text);
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}
header span {
  font-size: 1.5rem;
  font-weight: 600;
  mix-blend-mode: difference;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
}
.row-cen-inview{
  margin-bottom:1rem;
}
.social-footer ul {
  padding: 25px;
  margin-bottom: 0;
}
.social-footer li {
  display: inline-block;
  margin: 0 1rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}
.icon:hover {
  font-size: 1.8rem;
}
body {
  background-color: var(--color-bg);
}
.wrapper {
  margin-left: 6.5rem;
  margin-right: 2rem;
  padding-bottom: 20rem;
}
.content {
  display: flex;
  flex-direction: column;
}
.project-container {
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 2.5rem;
}
.menu-container {
  padding-top:4rem;
  width: 8rem;
}
.menu li {
  margin-bottom: 0.5rem;
}
.menu-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text);
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem;
  width: auto;
  z-index: 1;
}
.my-masonry-grid_column {
  padding-left: 1rem;
  background-clip: padding-box;
  background-color: var(--color-bg);
}
.my-masonry-grid_column .masonryItem {
  cursor:pointer;
  width: 100%;
  margin-bottom: 1rem;
}
.my-masonry-grid_column .masonryItem .imageWrapper {
  height:100%;
  position: relative;
}
.my-masonry-grid_column .masonryItem .imageWrapper img {
  position: relative;
  transition: 500ms;
  width: 100%;
  object-fit: cover;
  z-index: 5;
  display: block;
}
.my-masonry-grid_column .masonryItem .imageWrapper p {
  color: #ffffff;
  padding:10px;
  position: absolute;
  top:30%;  
  z-index: 4;
}
.my-masonry-grid_column .masonryItem .imageWrapper img:hover {
  opacity: 0%;
  width: 103%
}

/* Begin Media Section */
@media only screen and (max-width: 800px) {
  .logomation{
    left: 1rem;
  }
  .wrapper {
    margin-left: 1rem;
    margin-right: 2rem;
  }
  header {
    padding: 0 1rem;
    justify-content:right;
  }
  header .nav-btn {
    position: fixed;
    width: auto;
    visibility: visible;
    opacity: 1;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--color-primary);
    transition: 500ms;
    transform: translateY(-100vh);
    z-index: 3;
  }
  header .responsive_nav {
    transform: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  nav a {
    font-size: 1.5rem;
  }
  
  .menu-btn {
    top: 50vh;
    right: 1rem;
    position: fixed;
    width: auto;
    visibility: visible;
    opacity: 1;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--color-primary);
    transition: 500ms;
    transform: translateX(100vw);
    z-index: 2;
  }
  .menu-container a {
    font-size: 1.5rem;
  }
  .responsive_menu {
    transform: none;
  }
  .menu-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .project-container {
  gap: 1rem;
  }
}
/* End Media Section */