@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --font-family: "Ubuntu Mono";
  --font-family-header: "Ubuntu Mono";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}
#root {
  min-height: 100vh;
  position: relative;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
}
ul {
  list-style: none;
}
a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: 0 2rem;
  background-color: var(--color-bg);
  color: var(--color-text);
}
.logomation {
  position:fixed;
  left: 2rem;
  background-color: var(--color-bg);
  border: solid;
  border-color: var(--color-bg);
  border-width: 5px;
}
nav a {
  margin: 0 2rem;
}
.animatedLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.animatedLink:hover:after {
  width: 100%;
  left: 0;
}
header .nav-btn {
  width: 0px;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text);
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}
header span {
  font-size: 1.5rem;
  font-weight: 600;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
}
.row-cen-inview{
  margin-bottom:1rem;
}
.social-footer ul {
  padding: 25px;
  margin-bottom: 0;
}
.social-footer li {
  display: inline-block;
  margin: 0 1rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}
.icon:hover {
  font-size: 1.8rem;
}
body {
  background-color: var(--color-bg);
}
.wrapper {
  margin-left: 6rem;
  margin-right: 2rem;
}
.content {
  display: flex;
  flex-direction: column;
}
.menu-container {
  margin-top: 2rem;
  width: 10rem;
}
.menu li {
  margin-bottom: 0.5rem;
}
.menu-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text);
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}
/* Begin Media Section */
@media only screen and (max-width: 800px) {
  .logomation{
    left: 1.5rem;
  }
  .wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  header {
    padding: 0 1.5rem;
    justify-content:right;
  }
  header .nav-btn {
    width: auto;
    visibility: visible;
    opacity: 1;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--color-primary);
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 2;
  }
  header .responsive_nav {
    transform: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav a {
    font-size: 1.5rem;
  }
  
  .menu-btn {
    visibility: visible;
    opacity: 1;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--color-primary);
    transition: 1s;
    transform: translateX(-100vw);
    z-index: 1;
  }
  .menu-container a {
    font-size: 1.5rem;
  }
  .responsive_menu {
    transform: none;
  }
  .menu-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
/* End Media Section */